body { 
 background-color: darkcyan;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: darkcyan;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* alteramos a cor de fundo */
/*meche no estilo das letras*/